.cubeContainer
  height: 100%
  width: 100%
  margin: 0
  padding: 0
  display: flex
  flex-direction: columns
  justify-content: center
  align-items: center
  #wrapper
    transform: scale(1)
  .cube
    position: relative
    margin: 0 auto
    height: 200px
    width: 200px
    transform-style: preserve-3d
    transform: rotateX(136deg) rotateY(1122deg)
    > div
      overflow: hidden
      position: absolute
      opacity: 0.9
      height: 200px
      width: 200px
      touch-callout: none
      user-select: none
      > div.cube-image
        width: 200px
        height: 200px
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        transform: rotate(180deg)
        line-height: 200px
        font-size: 25px
        text-align: center
        img
          height: 90%
          width: 90%
        &.active
      &:hover
        cursor: pointer
      &:first-child
        background: linear-gradient(to right, #11998e, #38ef7d)
        transform: rotateX(90deg) translateZ(100px)
        outline: 1px solid transparent
        transition: background 0.6s
        .text
          opacity: 0
          transition: opacity 0.4s
        &.active
          background: rgba(255,255,255,0.5)
          .text
            opacity: 1
      &:nth-child(2)
        background: linear-gradient(to right, #11998e, #38ef7d)
        transform: translateZ(100px)
        outline: 1px solid transparent
        transition: background 0.6s
        .text
          opacity: 0
          transition: opacity 0.4s
        &.active
          background: rgba(255,255,255,0.5)
          .text
            opacity: 1
      &:nth-child(3)
        background: linear-gradient(to right, #11998e, #38ef7d)
        transform: rotateY(90deg) translateZ(100px)
        outline: 1px solid transparent
        transition: background 0.6s
        .text
          opacity: 0
          transition: opacity 0.4s
        &.active
          background: rgba(255,255,255,0.5)
          .text
            opacity: 1
      &:nth-child(4)
        background: linear-gradient(to right, #11998e, #38ef7d)
        transform: rotateY(180deg) translateZ(100px)
        outline: 1px solid transparent
        transition: background 0.6s
        .text
          opacity: 0
          transition: opacity 0.4s
        &.active
          background: rgba(255,255,255,0.5)
          .text
            opacity: 1
      &:nth-child(5)
        background: linear-gradient(to right, #11998e, #38ef7d)
        transform: rotateY(-90deg) translateZ(100px)
        outline: 1px solid transparent
        transition: background 0.6s
        .text
          opacity: 0
          transition: opacity 0.4s
        &.active
          background: rgba(255,255,255,0.5)
          .text
            opacity: 1
      &:nth-child(6)
        background: linear-gradient(to right, #11998e, #38ef7d)
        transform: rotateX(-90deg) rotate(180deg) translateZ(100px)
        outline: 1px solid transparent
        transition: background 0.6s
        .text
          opacity: 0
          transition: opacity 0.4s
        &.active
          background: rgba(255,255,255,0.5)
          .text
            opacity: 1

  @media (max-width: 640px)
    .viewport
      transform: scale(1, 1)