#wrapper
  transform: scale(1.8)
.cube
  position: relative
  margin: 0 auto
  height: 200px
  width: 200px
  transform-style: preserve-3d
  transform: rotateX(136deg) rotateY(1122deg)
  > div
    overflow: hidden
    position: absolute
    opacity: 0.9
    height: 200px
    width: 200px
    touch-callout: none
    user-select: none
    > div.cube-image
      width: 200px
      height: 200px
      transform: rotate(180deg)
      line-height: 200px
      font-size: 25px
      text-align: center
      color: #d2dae2
      transition: color 600ms
      &.active
        color: #1e272e
    &:hover, &:active
      cursor: pointer
    &:first-child
      background: linear-gradient(to right, #11998e, #38ef7d)
      background-size: cover
      background-position: center
      transform: rotateX(90deg) translateZ(100px)
      outline: 1px solid transparent
    &:nth-child(2)
      background: linear-gradient(to right, #11998e, #38ef7d)
      transform: translateZ(100px)
      outline: 1px solid transparent
    &:nth-child(3)
      background: linear-gradient(to right, #11998e, #38ef7d)
      transform: rotateY(90deg) translateZ(100px)
      outline: 1px solid transparent
    &:nth-child(4)
      background: linear-gradient(to right, #11998e, #38ef7d)
      transform: rotateY(180deg) translateZ(100px)
      outline: 1px solid transparent
    &:nth-child(5)
      background: linear-gradient(to right, #11998e, #38ef7d)
      transform: rotateY(-90deg) translateZ(100px)
      outline: 1px solid transparent
    &:nth-child(6)
      background: linear-gradient(to right, #11998e, #38ef7d)
      transform: rotateX(-90deg) rotate(180deg) translateZ(100px)
      outline: 1px solid transparent

@media (max-width: 640px)
  .viewport
    transform: scale(1, 1)